.header__most__top p {
    text-align: center;
    color: #fff;
    font-weight: 600;
    padding: 8px;
    letter-spacing: 2px;
    background: #1accfd;
}

.header ul li {
    display: inline-block;
    width: 19%;
    text-align: center;
    color: #000;
    font-size: 13px;
    padding: 7px 0;
    letter-spacing: 1px;
    border-right: 1px solid rgba(18, 18, 18, 0.18);
}
.header ul li a {
     color: #000;
    text-decoration: none;
}
.header ul li span {
    margin-right: 7px;
    color: #FF5722;
    font-size: 15px;
}
.header__right {
    text-align: right;
}
.header__left{
    text-align: left;	
}
.header__bot__inner__wthreeinfo__header__mid {
    margin: 0 auto;
    width: 90%;
}
/*-- shop locator --*/
.list__of__cities {
    width: 100%;
    padding: 12px;
    border: 1px solid rgba(47, 47, 47, 0.44);
    color: #4d4d4d;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;
}
/*-- //shop locator --*/
/*-- //Header Lists --*/
/*-- search --*/
.agileits__search {
    margin-top: 16px;
    float: left;
    width: 80%;
}

.agileits__search input[type="search"]{
    outline: none;
    border: 1px solid #191e21;
    background: #fff;
    border-right-color: transparent;
    color: #191e21;
    padding: 10px;
    font-size: 14px;
	float: left;
	width:90%;
	letter-spacing: 1px;
}
.agileits__search .btn__default {
    border: none;
    width:60px;
    height: 42px;
    outline: none;
    box-shadow: none;
    background: #1accfd;
    padding: 0;
    border-radius: inherit;
    -webkit-appearance: none;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    transition: .5s all;
}
.agileits__search .btn__default:hover {
	background:#FF5722;
}
.agileits__search span {
    color: #fff;
}
#agileinfo__search {
    padding: 9.5px 2px;
}


/*-- //search --*/
/*-- logo --*/
.logo__agile {
    text-align: center;
}
.logo__agile span {
    color: #FF5722;
}
.logo__agile h1 a {
    color: #000;
    font-size: 38px;
	text-decoration: none;
}
.logo__agile h1 a:hover {
  text-decoration:none;
}
.header__left img {
    width: 73%;
}
.header__bot {
    padding: 15px 0 20px;
}
/*-- //logo --*/
/*-- model_signin --*/
.modal-body.modal-body-sub_agile input[type="text"], .modal-body.modal-body-sub_agile input[type="email"], .modal-body.modal-body-sub_agile input[type="password"] {
    font-size: 14px;
    letter-spacing: 1px;
    color: #777;
    padding: 10px 0;
    border: 0;
    width: 100%;
    border-bottom: 1px solid #dcdcdc;
    background: none;
    -webkit-appearance: none;
    outline: none;
    margin-bottom: 20px;
}
.modal-body.modal-body-sub_agile input[type="submit"] {
    border: none;
    padding: 10px 40px;
    font-size: 14px;
    outline: none;
    text-transform: uppercase;
    margin: 0;
    font-weight: 700;
    letter-spacing: 1px;
    background: #1accfd;
    color: #fff;
    margin: 20px 0;
}
.modal-body.modal-body-sub_agile input[type="submit"]:hover{
   background: #000;
}
h3.agileinfo__sign {
    font-size: 33px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 20px;
    text-align: center;
    color: #FF5722;
}
h3.agileinfo__sign span {
    font-weight:300;
}
.modal__content {
    position: relative;
}
.main__mailposi span {
    position: absolute;
    font-size: 150px;
    color: #e8e8e8;
    opacity: .4;
    right: 7%;
    transform: rotate(-35deg);
    -ms-transform: rotate(-35deg);
    -webkit-transform: rotate(-35deg);
}
/* placeholder */
.modal-body.modal-body-sub_agile ::-webkit-input-placeholder{
	color:#212121 !important;
}
/* //placeholder */
.modal-body.modal-body-sub_agile p a {
    color: #FF5722;
}
.modal-body.modal-body-sub_agile p {
    line-height: 2em;
    color: #000;
    font-size: 15px;
    margin-bottom: 20px;
}
.modal__body.modal__body__sub__agile {
    padding:0 2em 2em;
    margin-top: 1em;
}
/*-- //model_signin --*/


/*-- cart details--*/
.top__nav__right {
    float: right;
    width: 20%;
}
.box__1 {
    text-align: center;
    margin-top: 14px;
}
a.simpleCart__empty {
    color: #fff;
    font-size: 13px;
    text-decoration: none;
    text-align: center;
    display: block;
}
button.w3view__cart {
    outline: none;
    border: none;
    background: #FF5722;
    width: 48px;
    height: 43px;
    font-size: 24px;
    color: #fff;
}
